 body{
    margin: 0;
    
 }
 header{
    background-color: rgb(186, 189, 188);

 }
 nav{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 20px;
 }
 nav li{
    list-style-type: none;
    font-size: large;
    position: relative;
 }

    .link{
        text-decoration: none;
        color: black;
        padding: 3px;
        
    }
    .link:hover{
        background-color: rgb(226, 230, 234);
        border-radius: 5px;

    }
    header img {
        border: 2px solid black; 
        border-radius: 50px;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: rgb(111, 158, 198);
        padding: 20px;
        top: 100%;
        border-color: blue;
        border-radius: 20px;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    @media screen and (max-width: 768px) {
        nav {
            flex-direction: column; 
            align-items: center; 
            padding: 10px;
        }
    
        li {
            font-size: medium; 
            margin: 5px 0; 
        }
    
        header img {
            width: 40px; 
            height: 40px;
        }

    }
    
