.transition{
    color: rgb(117, 17, 84);
    background-color: rgb(223, 50, 177);
    transition: background-color 5s, color 5s , padding 5s,width 5s,height 5s, transform 5s,opacity 2s;
    opacity: 0.5;

}
.transition:hover{
    background-color: rgb(172, 120, 221);
    color:rgb(68, 30, 104) ;
    padding:20px;
    height: 100px;
    width: 200px;
    transform: rotate(360deg);
    opacity: 0.9;
}